<!-- <footer style="background-color: var(--bg-card); color: var(--text-main); text-align:center; padding:15px; margin-top:40px;">
  <p>&copy; <%= new Date().getFullYear() %> CineVillage. All Rights Reserved.</p>
</footer> -->
